.centre{
  width: 50%;
  margin: 0 auto;
}

.header{
  padding-top:20%;
}

.spacing{
  padding-top:5%;
  padding-bottom: 5%;
}


body {
  padding-top: 10px;
  width:100%;

  background-image: url(img/background.jpg);
  background-size: cover;
  

}
